{% extends "index.html" %}
{% load i18n %}


{% block main %}
<div class='row'>
<div class='col-sm-6'>
<h4 class="flow-text text-center" style="margin-top:1em;margin-bottom:2em;">Login</h4>
<form class="col sm12" method="post" action=".">
  {% csrf_token %}
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    <div class="input-field col-sm-12">

      <label for="{{ form.username.id_for_label }}" data-error="{{ form.username.help_text }}" >{{ form.username.label }}</label>
      <input id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" type="textbox" class="validate form-control" required>

  </div>

  <div class="input-field col-sm-12">

      <label for="{{ form.password.id_for_label }}" data-error="{{ form.password.help_text }}" >{{ form.password.label }}</label>
      <input id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" type="password" class="validate form-control" required>
      
  </div>

  <button type="submit" name="Submit" class="btn how-it-works"><span>{% trans 'Submit' %}</span></button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

<div class="col-sm-6">
  <h5 style="margin-top:1em;margin-bottom:2em;">Login through:</h5>
  <div class="input-field col-sm-12">
    <button type="submit" name="submit" class="btn btn-fb"><span>{% trans 'facebook' %}</span></button>
  </div>
  <div class="input-field col-sm-12">
    <button type="submit" name="submit" class="btn btn-g"><span>{% trans 'google' %}</span></button>
  </div>
</div>

</div>
<hr/>
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
  </div>
</div>

{% endblock %}
