{% extends "base.html" %}
{% load i18n %}

{% block main %}
<p class='center-align flow-text'>You have successfully logged out.</p><p class='center-align flow-text'><a href="{% url 'auth_login' %}">Login</a></p></p>
{% endblock %}
