{% extends "base.html" %}
{% load i18n %}

{% block main %}

<p class="flow-text">{% trans "Password reset successfully" %}</p>

<p class="flow-text"><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>

{% endblock %}
