{% extends "base.html" %}
{% load i18n %}

{% block main %}

{% if validlink %}

<form class="col s12" method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <button type="submit" name="Submit" class="btn red"><span>{% trans 'Submit' %}</span></button>
</form>

{% else %}

<p class="flow-text">{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
