{% extends "base.html" %}
{% load i18n %}

{% block main %}
<div class='col-s6 col-offset-s3'>
<h2>Password Reset</h2>
<p class='flow-text'>Reset your password using your email below.</p>
<form class="col s12" method="post" action=".">
  {% csrf_token %} 
    {{ form }}

<button type="submit" name="Submit" class="btn red"><span>{% trans 'Reset' %}</span></button>
</form>
</div>
{% endblock %}


