{% extends "base.html" %}
{% load i18n %}

{% block main %}
<form class="col s12" method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <button type="submit" name="Submit" class="btn red"><span>{% trans 'Submit' %}</span></button>
</form>
{% endblock %}
