{% load i18n %}
<div class="container">
<div class="row">
{% for image in images %}
<div class="col s12 m4">
    <a href="{{image.original}}" data-lightbox="img-gallery" data-title="{% trans "Click the right half of the image to move forward." %}"><img src='{{image.thumbnail}}' class='responsive-img example-image'/></a>
</div>
{% empty %}

{% endfor %}
</div>
</div>