{% load  staticfiles future i18n %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script>
var csrf_token = '{{ csrf_token }}';
var csrf_token_name = 'csrfmiddlewaretoken';
</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/dropzone.min.js' %}"></script>

