{% load  staticfiles future i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Rentals">
    <title>{% firstof page_title "Rentals" %}</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/home.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <!-- <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png"> -->
    <link rel="icon" href="{% static 'img/home_64.png' %}" sizes="64x64">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS-->
    <!-- Compiled and minified CSS -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropzone.min.css' %}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'> -->

  <!-- Compiled and minified JavaScript -->
  
 
</head>

<body>