{% load staticfiles future i18n %} 
<div class="collapse" id="exCollapsingNavbar">
          <div class="bg-inverse p-a">
            <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'add' %}" class="add-rent-btn">{% trans "Add Rent" %}</a></li>
                        <li>
                            {% for code,name  in LANGUAGES %}
                                {% if not code == LANGUAGE_CODE %}
                                    {% language code %}
                                        <a href="{% url 'lang' %}?language={{ code }}">{{ name }}</a>
                                    {% endlanguage %}
                                {% endif %}
                            {% endfor %}

                        </li>
                       
                     </ul>
           </div>
    </div>

    <nav class="navbar navbar-light bg-faded searchNav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        &#9776; Menu
      </button>
      <!-- <div class="text-center">find space</div> -->
    </nav>
