{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h2 class="text-center" style="margin-bottom:1em;">{% trans "Login" %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  <div class="form-group has-feedback has-feedback-right row">
    <label for="id_login" class="col-sm-2 form-control-label">Username:</label> 
    <div class="col-sm-8">
      <input autofocus="autofocus" class="form-control" id="id_login" maxlength="30" name="login" placeholder="Username" type="textbox" autocomplete=false/>
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
  </div>

  <div class="form-group row">
    <label for="id_password" class="col-sm-2 form-control-label">Password:</label> 
    <div class="col-sm-8">
      <input id="id_password" class="form-control" name="password" placeholder="Password" type="password">
    </div>
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-group row">
    <div class="col-sm-6">
      <label for="id_remember">Remember Me:</label>
      <input id="id_remember" name="remember" type="checkbox">
    </div>
    <div class="col-sm-6">
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot your Password?" %}</a>
    </div>
  </div>
  <div class="form-group row text-center">
    <div class="col-sm-12">
      <button class="primaryAction btn btn-primary" type="submit">{% trans "Login" %}</button>
    </div>
  </div>
  <div class="form-group row seperator">
    <div class="col-sm-12">
      <p>{% blocktrans %}Not a member yet?
        <a href="{{ signup_url }}">sign up now!</a>{% endblocktrans %}
      </p>
    </div>
  </div>
</form>

{% endblock %}
