body {
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
  font-size: 16px !important;
  background: #f5f5f5;
  color:#565a5c;
  text-rendering: optimizelegibility;
  /*background:rgba(0, 0, 0, 0.08);*/
}

#homepage
{
  background-image:url('../img/appartment1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:fixed;
  min-width: 100%;
  min-height: 100%;
}

nav {
  background-color: transparent !important;
  width: 100%;
  border-color:transparent !important;
  .nav {
        a {
            font-size: 1.6rem !important;
            color: #fff !important;
        }
    }   

    a.navbar-brand
    {
        color:#fff !important;
        font-size:1.8rem !important;

    }

    .navbar-toggle {
      border-color: #0E0E0E !important;
      .icon-bar {
       background-color: #1B1A1A !important;
      }
    }

}

.listingNav{
  background-color:#FF5A5F !important;
}


.add-rent-btn
{
  border:solid 2px #fff;
  padding: 8px;
}

.middle-text
{
  vertical-align: middle;
  color: #fff;
  
}

.how-it-works{
  background: rgb(255, 90, 95);
  border-color:transparent;
  color:#fff;
  padding:10px 30px 10px 30px;
  margin-top:20px;
  a{
    color:#fff;
  }
}

.find:hover{
    background:rgb(255, 90, 95);
    border:none;
    border-color:transparent;
  }

.find{
  background: rgb(255, 90, 95);
  border-color:transparent;
  color:#fff;
}

.content-footer
{
    background-color: rgba(0,0,0,0.6);

    
}

.list-space
{
  background:grey;
  padding:20px;
  color:#fff;
}
