{% extends "base.html" %}
{% load staticfiles i18n rental_tags %}
{% block main %}


<div class="row">
  <div class="section rental grid effect-2" id="grid">
{% for rental in list_result %}
 <div class="col s12 m6" style="font-size: 0.98rem !important; margin-bottom: 15px;">
<div class="card">
        <div class="card-image waves-effect waves-block waves-light">
         
          <!-- {% featured_image_for rental %} -->
          {% featured_image_for rental 400 400 %}
        </div> <!-- card images -->


        <div class="card-content">
          <span class="card-title grey-text text-darken-4"><a href="{% url 'rent_detail' rental.pk %}">{{ rental.title }}</a><!-- <i class="mdi-navigation-more-vert right"> --></i></span>
          <div class="row center icons">
            <div class="col s12 m4"><i class="fa fa-bed prefix"></i></div>
            <div class="col s12 m4"><i class="mdi-action-room prefix"></i></div>
            <div class="col s12 m4"><i class="mdi-editor-attach-money prefix"></i></div>
          </div>
          <div class="row center briefing">
            <div class="col s12 m4">{{rental.bedroom_count}}{% trans "Rooms" %}</i></div>
            <div class="col s12 m4">{{rental.location}}</i></div>
            <div class="col s12 m4">{{rental.rent_price}}rs/mo</i></div>
          </div>
           <form action="" method="post">
              <p class="left">
                <input type="radio" name="vote" value="spam" id="spam-{{rental.id}}" data-rental-id="{{rental.id}}" onclick="clickHandler(event)" />
                <label for="spam-{{ rental.id }}" class="teal-text">Mark as spam(<span id="spam-count-{{rental.pk}}" >{{rental.spam_count}}</span>)</label>
              </p>

              <p class="right">
             
                <input type="radio" name="vote" value="rental" id="rent-{{rental.id}}" data-rental-id="{{rental.id}}" onclick="clickHandler(event)"/>
                <label for="rent-{{ rental.id }}" class="teal-text">Mark as rented(<span id="rental-count-{{rental.pk}}" >{{rental.rented_count}}</span>)</label>
              </p>
            </form>

        </div> <!-- card content -->
      </div>
    </div> <!-- col s12 m6 -->
{% endfor %}
</div> <!-- section -->
</div>  <!-- row -->
{% endblock %}