{% load staticfiles future i18n %} 
{% include 'includes/head.html' %} 

  <div class="container-fluid list-space">
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center"><h2 class="text-center">Detail Space {instance}</h2></p>
      </div>
    </div>
  </div>

 <div id="roomDetail">
 </div>




{% include 'includes/script.html'%}
<script type="text/javascript">
     var data = {
         slug:{instance.slug}
    };
    $(function() {
      app.showRoomDetail("roomDetail",data);
    });

</script>