{% load  staticfiles future  i18n rental_tags %}
{% include 'includes/head.html' %}  
{% include 'includes/nav.html' %}

{% for rental in search_result %}
<div id = "filters">
  <div class="container-row">
    <div class="row">
      <div class="col-md-4">
        <div id="ajaxResult"></div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="container-fluid" style="background: #fff;margin-top:4em;">
  <!-- <p className = "filter-label center">Rental spaces nearby</p> -->
  <div class="row">
    {% for rental in search_result %}
    <div class="col-md-4" style="margin-top: 2em;">
            <div class="card-box" style="background:black;">  
              <div class="rental-title" style="background-color:transparent;">{{ rental.place }}</div>
              <img src={{rental.image}} class="img-responsive"/>
              <div class="rental-price"style="background-color:transparent;"><span>Rs.{{ rental.price }}/month<span></div>
              </div>
      </div>
    </div>
    <div id="ajaxResult"></div>
    {% endfor %}
  </div>
</div>
{% include 'includes/script.html'%}
<script src="{% static 'build/FilterBundle.js'%}" type="text/jsx"></script>
</body>
</html>

