{% load staticfiles future i18n %} 
{% include 'includes/head.html' %} 

 <div id="listing">
 </div>


{% include 'includes/script.html'%}
<script type="text/javascript">
    // var uploadUrl = {
    //     url: {% for rental in object_list %} "id:" {{ rental.id }} {% endfor %}
    // };

   // var uploadUrltag = {
     //   urltag: {% for rental in object_list %} {% url 'ImageUpload' rental.pk %} {% endfor %}
   // };

    //console.log('url is', uploadUrltag.url); 
    $(function() {
      app.showListingSpaceForm("listing");
    });

</script>