{% load staticfiles future i18n %} 
{% include 'includes/head.html' %} 

  <div class="container-fluid list-space">
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center"><h2 class="text-center">List of Space</h2></p>
      </div>
    </div>
  </div>

 <div id="roomlist">
 </div>




{% include 'includes/script.html'%}
<script type="text/javascript">

    $(function() {
      app.showRoomList("roomlist");
    });

</script>