{% extends "base.html" %}
{% load i18n %}

{% block main %}
<div class='row'>
<div class='col s12'>
<h2>Register for free!</h2>
<form class="col s12" method="post" action=".">
  {% csrf_token %}
  <div class="input-field col s12">
  <p class="flow-text">{{ form.username.errors }}</p>
  <input id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" type="text" class="validate" required>
  <label for="{{ form.username.id_for_label }}" data-error="{{ form.username.help_text }}" >{{ form.username.label }}</label>
  </div>

  <div class="input-field col s12">
  <p class="flow-text">{{ form.email.errors }}</p>
  <input id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" type="text" class="validate" required>
  <label for="{{ form.email.id_for_label }}" data-error="{{ form.email.help_text }}" >{{ form.email.label }}</label>
  </div>


   <div class="input-field col s12">
   <p class="flow-text">{{ form.password1.errors }}</p>
  <input id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" type="password" class="validate" required>
  <label for="{{ form.password1.id_for_label }}" data-error="{{ form.password1.help_text }}" >{{ form.password1.label }}</label>
  </div>


  <div class="input-field col s12">
  <p class="flow-text">{{ form.password2.errors }}</p>
  <input id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" type="password" class="validate" required>
  <label for="{{ form.password2.id_for_label }}" data-error="{{ form.password2.help_text }}" >{{ form.password2.label }}</label>
  </div>


  
  </div>
<button type="submit" name="Submit" class="btn red" style="height: 3rem;"><span>{% trans 'Join' %}</span></button>
</form>
</div>
</div>

<hr/>
<div class='row'>
<div class='col-s6 col-offset-s3 center'>
<p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
</div>
</div>


{% endblock %}
