{% load  staticfiles future i18n account rental_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% include 'includes/head.html'%}
<div class="homepage">
    <div class="collapse" id="exCollapsingNavbar">
          <div class="bg-inverse p-a">
            <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'add' %}" class="add-rent-btn">{% trans "Add Rent" %}</a></li>
                        <li>
                            {% for code,name  in LANGUAGES %}
                                {% if not code == LANGUAGE_CODE %}
                                    {% language code %}
                                        <a href="{% url 'lang' %}?language={{ code }}">{{ name }}</a>
                                    {% endlanguage %}
                                {% endif %}
                            {% endfor %}

                        </li>

                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="/accounts/logout/">logout</a>
                        </li>
                         {% if request.user.first_name or request.user.last_name %}
                            {{ request.user.first_name }} {{ request.user.last_name }}
                        {% else %}
                            {{ request.user.username }}
                        {% endif %}
                        {% else %}
                            <li>
                                <a href="{% url 'account_login' %}">login</a>
                            </li>
                        {% endif %}
                     </ul>
           </div>
    </div>



    <!-- modal for login -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center">{% trans "Sign In" %}</h4>
                </div>
                <div class="modal-body">
                    <p>here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY here goes the content for HOW TO PLAY</p>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        &#9776; Menu
      </button>
      <!-- <div class="text-center">find space</div> -->
    </nav>


<div id="homepage">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% for rental in list_result %}
                    <div class="card-box">  
                     <a href="{% url 'rent_detail' rental.pk %}">{% featured_image_for rental %}</a>
                    <div class="rental-title">{{ rental.title }}</div>
                    <div class="rental-price"><span>Rs.{{ rental.rent_price }}/month<span></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

</div>
  
 
{% block footer_scripts %}

<script type="text/javascript" src="{% static 'build/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/react/react.min.js' %}"></script>
<script src="{% static 'bower_components/react/JSXTransformer.js' %}"></script>
<script type="text/jsx" src="{% static 'build/homepageBundle.js' %}"></script>
<script type="text/javascript">

$('#howitworksModal').modal();

</script>


{% endblock footer_scripts %}
</body>

</html>


