{% load  staticfiles future i18n %}
{% include 'includes/head.html' %}  
{% include 'includes/nav.html' %}

<div class="container formbox">
    <div class="row">
        <div class="col-sm-12">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>

{% include 'includes/script.html'%}
