{% load  staticfiles future i18n account rental_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% include 'includes/head.html'%}

<div id="homepage">
</div>

</div>
  
 
{% block footer_scripts %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'build/js/app.js'%}"></script>
<script type="text/javascript">
  var data = {
         isUserAuthenticated:{% if request.user.is_authenticated %}true{% else %}false{% endif %}
    };

$(function() {

  app.showHomePage("homepage",data);
});

</script>


{% endblock footer_scripts %}
</body>

</html>


